<ion-toolbar primary *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pong Master Race</ion-title>
</ion-toolbar>

<ion-content [root]="homeRoot">
    <ion-list>
        <ion-list-header>
            Últimos partidos
        </ion-list-header>
        <ion-card padding *ngFor="#game of games">
            <h2>{{game.player1}} vs {{game.player2}}</h2>
            <h2>{{game.p1Score}} - {{game.p2Score}}</h2>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll (infinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <button fab fab-center fab-bottom [navPush]="addPage" *ngIf="auth"><ion-icon name="add"></ion-icon></button>
    <ion-toolbar position="bottom" *ngIf="!auth" style="position: absolute">
        <button full (click)="login()">Google Login</button>
    </ion-toolbar>
</ion-content>
